body {
    padding : 0;
    margin : auto;
    /* background-color: aquamarine; */
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

#map {
    position: relative;
    overflow: hidden;
    height : 100vh;
    width : 100vw;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 60px;
    font-weight: bold;
    transition: color 0.2s ease;
    text-transform: uppercase;
    top: 40px;
    left: 80px;
}

.loading {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid gray;
    border-right: 10px solid gray;
    border-bottom: 10px solid grey;
    border-left: 10px dotted dashed solid double grey;
    width: 85px;
    height: 85px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 50%;   
}
      
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading.show {
    visibility: visible;
}


.globe-gif{
    top: 6%;
    position: absolute;
    z-index: 9999;
    left: 92%;
    cursor: pointer;
}

.global-info-window {
    border: 1px solid black;
    background: #000000;
    background: rgba(0, 0, 0, 0.7);
    /* display: none; */
    height: 100vh;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 40px;
}

.global-info-window button {
    padding: 0.3em 1.2em;
    margin: 2.5em 0.5em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    border : 1px solid #fa5a54;
    background-color:#fa5a54;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2.2px;
    font-weight: 550;
}

button:hover{
    background-color:#423636;
    transform: scale(1.2);
}

button:focus {
    outline: none;
}

/*******  SEARCH  ********/
.search-container {
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 80px;
    width: 400px;
    height: 60px;
    background-color: rgb(88, 78, 84, 0.9);
    transition: color 0.2s ease;
    border-radius: 44px;
    display: flex;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder
{
    color: azure;
}

input::placeholder { /* Most modern browsers support this now. */
    color: #c85b57;
}

.search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}


/***** store-list-container *******/
.country-list-container {
    position: absolute;
    background: white;
    width: 400px;
    z-index: 100;
    top: 210px;
    left: 80px;
    /* bottom: 20px; */
    border-radius: 30px;
    display: none;
    /* display: flex; */
    overflow: hidden; /* to make scrollbar height matching outer container overflow must be hidden*/
    min-height: auto;
    max-height: 72vh;
}

.country-container-background {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}

.country-container-background:hover {
    background-color:#dfd2ae;
}

.country-container {
    border-bottom: 1px solid black;
}

.country-list {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    overflow-y: scroll;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    border: 0.5px solid grey;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 30px;
    height: 5px;
}

.country-name {
    margin-top: 15px;
    font-size: 21px;
    color: #fa5a54;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.store-phone-number {
    font-size: 16px;
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number-container {
    display: flex;
    align-items: center;
}

.store-number {
    width: 33px;
    height: 33px;
    background-color: rgb(243, 95, 95);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-size: small;
    margin-left: 120px;
}

.store-address span {
    display: block;
}

.store-info-container {
    flex-grow: 1;
}

